@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --couleur_light_ini : rgba(255, 255, 255, 0.87);
  --couleur_dark_ini : #213547;
  --couleur_auth_fond:blue;
  --couleur_auth_bord:red;
  --couleur_form_fond: rgb(211, 211, 211, 1);
  --couleur_form_police: black;
  --couleur_auth_button: #4CAF50;
  --couleur_auth_google: #4285f4;
  
  color-scheme: light dark;
  color: var(--couleur_light_ini);
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--couleur_dark_ini);
  }
}
